{% extends 'base.html' %}
{% block content %} 

    <div>
        <h2>The latest articles</h2>
    </div>
    <div>
        <h2>Aquarium plants</h2>
    </div>
    <div>
        <h2>Encyclopedia of fish</h2>
    </div>
    <div>
        <h2>The Newsletter</h2>
    </div>
    <div>
        <h2>Setting up aquarium</h2>
    </div>
    <div>
        <h2>Plants for beginners</h2>
    </div>
    <div>
        <h2>Fish of the Sea</h2>
    </div>
    <div>
        <h2>Most common articles</h2>
    </div>
    <div>
        <h2>Recent photo from the gallery</h2>
    </div>
</div>


{% endblock %}
